.imageLi{
    float:left;
    width: 110px;
    height: 150px;
}

.thumbnail{
    height: 120px;
    cursor: pointer;
}

.textInLi1{
    margin-left: 120px;
    font-weight: bold;
    font-size: 110%;
}

.textInLi{
    margin-left: 120px;
    margin-top: -15px;
}

.shadow{
    display:none;
}

.shadow2{
    display:none;
}

#shadow_block{
    margin-top: -160px;
    width:100%;
    height:100%;
    background-color:black;
    position:fixed;
    z-index:8;
    opacity:0.6; 
    cursor:pointer;
    left:0px;
}

#forma_block{
    width:400px;
    height: 245px;
    top:200px;
    left:35px;
    background-color:#C7C7C7;
    position:fixed;
    z-index:9;
    padding: 10px;
}


#textShadowinForm{
    background-color:#00C0A5;
    font-family: BebasNeueRegular;
    font-size:10pt;
}

.textinForm{
    font-family: BebasNeueRegular;
    font-size:25pt;
}

.pustoy_block{
    width: 400px;
    height: 20px;
    color:white;
    font-size: 10pt;
    font-family: Arial;
}
